<% if @current_user %>
	<h1>Bienvenue <%= @current_user.name %> !</h1>
	<ul>
		<li><a href="/advertisements">Voir toutes les annonces</a></li>
		<li><a href="/advertisements/new">Proposer une annonce</a></li>
	</ul>

<% else %>
	<h1>Bienvenue !</h1>
	<a href="/users/new">S'inscrire</a></li>
	<a href="/users/login">Se connecter</a>

	<ul>
		<li><a href="/advertisements">Voir toutes les annonces</a></li>
		<li>Proposer une annonce <i>(Attention ! Vous devez être connecté pour proposer une annonce)</i></li>
	</ul>


<% end %>