<h1>Connexion</h1>

<p><a href="/users/home">Retourner à l'accueil</a></p>

<%= form_tag "/users/login", method: :post do %>
	<p>Nom : <input type="text" name="name" /></p>
	<p>Mot de passe : <input type="password" name="password" /></p>
	<input type="submit" value="Se connecter" />
<% end %>
