<h1>Proposer une annonce</h1>

<p><a href="/users/home">Retourner à l'accueil</a></p>

<%= form_tag "/advertisements/new", method: :post do %>
	<p>Titre : <input type="text" name="title" /></p>
	<p>Contenu : <textarea name="content"></textarea></p>
	<p>Prix : <input type="integer" name="price" /> €</p>
	<input type="submit" value="Proposer l'annonce" />
	<i>*Attention ! L'annonce ne sera publiée qu'une fois qu'elle aura été validée par un administrateur.</i>

<% end %>